.signup-container {
  width: 350px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.signup-container input {
  padding: 10px;
  margin: 10px 0;
}

.signup-container button {
  padding: 12px;
  background: #008cff;
  color: white;
  border: none;
  cursor: pointer;
}

.msg {
  margin-top: 10px;
  color: green;
}

.link {
  color: blue;
  margin-left: 5px;
  cursor: pointer;
}
